body {
  margin: 0;
  font-size: 2rem;
  background-color: hsl(337, 81%, 61%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.countryContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 1px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 320px;
  background-color: hsl(337, 81%, 91%);
}

nav {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  margin: 60px auto;
}

.country {
  max-width: 1000px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin: 30px auto;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

select {
  scale: 2;
  margin: 50px auto;
}
